<div class="container">
  <hr>
  <p class="name">{{name}}<p>
  <p class="position">{{position}}</p>
  <div class="address">
    <p>
      {{city}}<br>
      {{phone}}<br>
      {{email}}<br>
    </p>
  </div>
  <div class="skills">
    <p class="section-title">Skills</p>
    <p class="skills-body">
      {{skills}}
    </p>
  </div>

  <div class="education">
    <p class="section-title">Education</p>
    @for(school of education; track school.schoolName) {
    <p class="section-body-title">{{school.schoolName}} - {{school.career}}</p>
    <p class="section-body">
      {{school.initialDate}} - {{school.endDate}}<br>
      {{school.body}}
    </p>
    }
  </div>

  <div class="experience">
    <p class="section-title">Experience</p>
    @for (job of experience; track job.company) {
    <p class="section-body-title">{{job.company}}, {{job.country}} - {{job.position}}</p>
    <p>{{job.initialDate}} - {{job.endDate}}</p>
    <ul>
      @for (achievement of job.achievements; track achievement) {
      <li>{{achievement}}</li>
      }
    </ul>
    Skills:
    <ul>
      @for (skill of job.skillsLearned; track skill) {
      <li>{{skill}}</li>
      }
    </ul>
    }
  </div>

  <div>
    <p class="section-title">Across the Internet</p>
    <ul>
      @for (link of socialLinks; track link.url) {
      <li><a href="{{link.url}}" target="_blank">{{link.url}}</a></li>
      }
    </ul>
  </div>
</div>
